language: cpp
dist: trusty
sudo: false

addons:
  apt:
    packages:
    - cmake
    - bison
    - flex
    - swig
    - libmuparser-dev
    - liblapack-dev
    - libxml2-dev
    - libboost-math-dev
    - libtbb-dev
    - python-dev
    - python-scipy
    - python-matplotlib

matrix:
  include:
          #- os: linux
          #compiler: clang
          #env: BUILD_PYTHON=ON
          #- os: linux
          #compiler: clang
          #env: BUILD_PYTHON=OFF
    - os: osx
      compiler: clang

before_install:
  - if test "$TRAVIS_OS_NAME" = "osx"; then
        brew update &&
        brew unlink python@2 &&
        brew install swig openblas bison flex cminpack ceres-solver dlib nlopt tbb &&
        export HOMEBREW_PREFIX=`brew --prefix`;
        pip3 install matplotlib scipy
    fi

install:
  # use latest hmat-oss
  - git clone https://github.com/jeromerobert/hmat-oss.git
  - pushd hmat-oss
  - git checkout 1.6.1
  - if test "$TRAVIS_OS_NAME" = "linux"; then
       cmake -DCMAKE_INSTALL_PREFIX=~/.local
             -DHMAT_DISABLE_OPENMP=OFF . ;
    fi
  - if test "$TRAVIS_OS_NAME" = "osx"; then
        cmake -DCMAKE_INSTALL_PREFIX=~/.local
              -DCMAKE_MACOSX_RPATH=ON
              -DCBLAS_LIBRARIES=$HOMEBREW_PREFIX/opt/openblas/lib/libopenblas.dylib
              -DBLAS_LIBRARIES=$HOMEBREW_PREFIX/opt/openblas/lib/libopenblas.dylib
              -DLAPACK_LIBRARIES=$HOMEBREW_PREFIX/opt/openblas/lib/libopenblas.dylib
              -DCBLAS_INCLUDE_DIRS=$HOMEBREW_PREFIX/opt/openblas/include . ;
    fi
  - make install -j4
  - popd

script:
  - if test "$TRAVIS_OS_NAME" = "linux"; then
        cmake -DCMAKE_INSTALL_PREFIX=~/.local
              -DUSE_SPHINX=OFF
              -DHMAT_DIR=~/.local/lib/cmake/hmat
              -DUSE_COTIRE=ON
              -DCOTIRE_MAXIMUM_NUMBER_OF_UNITY_INCLUDES="-j2"
              -DBUILD_PYTHON=${BUILD_PYTHON}
              . &&
        make install -j2;
    fi
  - if test "$TRAVIS_OS_NAME" = "osx"; then
        cmake -DCMAKE_INSTALL_PREFIX=~/.local
              -DCMAKE_MACOSX_RPATH=ON
              -DHMAT_DIR=~/.local/lib/cmake/hmat
              -DLAPACK_LIBRARIES="-framework Accelerate"
              -DUSE_SPHINX=OFF
              -DBISON_EXECUTABLE=/usr/local/opt/bison/bin/bison
              -DFLEX_EXECUTABLE=/usr/local/opt/flex/bin/flex
              -DFLEX_INCLUDE_DIR=/usr/local/opt/flex/include
              -DPYTHON_EXECUTABLE=/usr/local/bin/python3
              -DUSE_COTIRE=ON
              -DCOTIRE_MAXIMUM_NUMBER_OF_UNITY_INCLUDES="-j4"
              . &&
        make install -j4;
    fi
  - if test "${BUILD_PYTHON}" = "OFF"; then
        make tests -j2 && ctest -R cppcheck -j2 --output-on-failure --timeout 100;
    else
        ctest -R pyinstallcheck -j4 --output-on-failure --timeout 100;
    fi

after_success:
  - exit 0
  - test "$TRAVIS_PULL_REQUEST" = "false" -a "$TRAVIS_BRANCH" = "master" -a "$TRAVIS_OS_NAME" = "linux" || exit 0
  - git clone https://${GH_TOKEN}@github.com/openturns/openturns.github.io.git
  - cp -r ~/.local/share/openturns/doc/html/* openturns.github.io
  - cd openturns.github.io
  - touch .nojekyll
  - git config user.email "support@travis-ci.com"
  - git config user.name "Travis CI"
  - git add -A .
  - git commit -a -m "Travis build $TRAVIS_BUILD_NUMBER"
  - git push --quiet origin master > /dev/null 2>&1

env:
  global:
    secure: azF2AfkEALFgd16Xh0XcAglAtExD5BhsMSPOcHFUftgDGrlsgsjD4p505UxrAOYYX5Exchne5D9pSV8gFlxKl5OIoVkJhSkvLRKANJKzdM95TnUqeJy6zplcEOvDPKdww37mKzJy/a9MduOqORqMeVErvpiEpYwrdiH1GUBHrvAp4NUSPhR5Ea/6d3TdOmaF1j0N8Bb66ZHn9SGThLM0ZEHk9iXHB5E9U0Y8dq7eDifD20hWGfIRiIksyWRyP+a/8WAnqf0mYPPkP1qEssexCHlF3tB2ZVyXBF84/laujOasWu1uApjjEhJADE6E3Rnv7BYMB6pvmiVMF/CZ07rflqgI5MjnYplg8ZShS//UuYUlGi7NwKztMob/5GUjp6PHYBbc0t1sjgqzxJhuN80Km51M7n4zvjQs7EyHeu61BxWQe0NwpKN17OavUucYL6yN9R3L/JLEg9EJnKFNo+CXnzMH28luCn1SgfNU9iuk3B4Lwa4IY6bm0lAHm/WvHIOfQFNuqzH/1QtY9dM0iLCl8IcvO7buYkmEip9i+XdSn7HURAjmUsStonwGBDSONQgiuSOJE8GUaPCOpr5+tDrTa/TxWr3y1xMv1uORcWMp4ulm7XGrjSxDsfCRhPx56AjWA9uf+xbnnYApHlyoYGETEsff3RbH91FBriuHAZVH5Dw=
