language: cpp

addons:
  apt:
    packages:
    - cmake
    - gfortran
    - bison
    - flex
    - libmuparser-dev
    - liblapack-dev
    - libxml2-dev
    - libboost-math-dev
    - libtbb-dev
    - r-base-core
    - yodl
    - swig
    - python-dev
    - python-scipy
    - python-matplotlib
    - python-sphinx
    - texlive-latex-recommended
    - texlive-fonts-recommended
    - texlive-latex-extra
    - dvipng
    - libkpathsea-dev
    - libpotrace-dev
    - python-lxml
    - xmlto
    - asciidoc

install:
# dvisvgm
  - git clone https://github.com/mgieseki/dvisvgm.git
  - pushd dvisvgm
  - ./autogen.sh
  - ./configure --prefix=$HOME/.local
  - make -j2
  - make install
  - export PATH=$PATH:$HOME/.local/bin
  - popd
# sphinx >=1.2 is looking better
  - git clone https://github.com/sphinx-doc/sphinx.git
  - pushd sphinx
  - python setup.py install --user
  - popd
# keep an eye on swig
  - git clone https://github.com/swig/swig.git
  - pushd swig
  - ./autogen.sh
  - ./configure --prefix=$HOME/.local
  - make -j2
  - make install
  - popd
# use latest hmat-oss
  - git clone https://github.com/jeromerobert/hmat-oss.git
  - pushd hmat-oss
  - cmake -DCMAKE_INSTALL_PREFIX=~/.local .
  - make install -j2
  - popd
# use latest nlopt
  - git clone https://github.com/stevengj/nlopt.git
  - pushd nlopt
  - cmake -DCMAKE_INSTALL_PREFIX=$HOME/.local -DBUILD_SHARED_LIBS:BOOL=ON -DBUILD_PYTHON=OFF -DBUILD_OCTAVE=OFF -DBUILD_GUILE=OFF -DCMAKE_MACOSX_RPATH=ON
  - make -j2
  - make install
  - popd

before_script:
  - R CMD INSTALL --library=$PWD utils/rot_1.4.6.tar.gz
  - export R_LIBS=$PWD

script:
  - cmake -DCMAKE_INSTALL_PREFIX=~/.local
    -DSPHINX_EXECUTABLE=~/.local/bin/sphinx-build
    -DSWIG_EXECUTABLE=~/.local/bin/swig
    -DHMAT_DIR=~/.local/lib/cmake/hmat
    -DNLOPT_LIBRARY=~/.local/lib/libnlopt.so -DNLOPT_INCLUDE_DIR=~/.local/include
    .
  - make install -j2 && make tests -j2 && ctest -j2 --output-on-failure --timeout 100

after_success:
  - test "$TRAVIS_PULL_REQUEST" = "false" -a "$TRAVIS_BRANCH" = "master" || exit 0
  - git clone https://${GH_TOKEN}@github.com/openturns/openturns.github.io.git
  - cp -r ~/.local/share/openturns/doc/html/* openturns.github.io
  - cd openturns.github.io
  - touch .nojekyll
  - git config user.email "support@travis-ci.com"
  - git config user.name "Travis CI"
  - git add -A .
  - git commit -a -m "Travis build $TRAVIS_BUILD_NUMBER"
  - git push --quiet origin master > /dev/null 2>&1

env:
  global:
    secure: azF2AfkEALFgd16Xh0XcAglAtExD5BhsMSPOcHFUftgDGrlsgsjD4p505UxrAOYYX5Exchne5D9pSV8gFlxKl5OIoVkJhSkvLRKANJKzdM95TnUqeJy6zplcEOvDPKdww37mKzJy/a9MduOqORqMeVErvpiEpYwrdiH1GUBHrvAp4NUSPhR5Ea/6d3TdOmaF1j0N8Bb66ZHn9SGThLM0ZEHk9iXHB5E9U0Y8dq7eDifD20hWGfIRiIksyWRyP+a/8WAnqf0mYPPkP1qEssexCHlF3tB2ZVyXBF84/laujOasWu1uApjjEhJADE6E3Rnv7BYMB6pvmiVMF/CZ07rflqgI5MjnYplg8ZShS//UuYUlGi7NwKztMob/5GUjp6PHYBbc0t1sjgqzxJhuN80Km51M7n4zvjQs7EyHeu61BxWQe0NwpKN17OavUucYL6yN9R3L/JLEg9EJnKFNo+CXnzMH28luCn1SgfNU9iuk3B4Lwa4IY6bm0lAHm/WvHIOfQFNuqzH/1QtY9dM0iLCl8IcvO7buYkmEip9i+XdSn7HURAjmUsStonwGBDSONQgiuSOJE8GUaPCOpr5+tDrTa/TxWr3y1xMv1uORcWMp4ulm7XGrjSxDsfCRhPx56AjWA9uf+xbnnYApHlyoYGETEsff3RbH91FBriuHAZVH5Dw=
