on:
  push:
    branches: [ master ]
  pull_request:
jobs:
  macos:
    runs-on: macos-latest
    env:
      LDFLAGS: -L/opt/homebrew/opt/openblas/lib
      CPPFLAGS: -I/opt/homebrew/opt/openblas/include
    steps:
    - uses: actions/checkout@v4
    - run: |
        brew install openblas swig boost python3 tbb nlopt cminpack ceres-solver cuba dlib bison flex hdf5 ipopt primesieve spectra pagmo nanoflann
        pip3 install matplotlib scipy chaospy pandas dill --break-system-packages
    - run: |
        cmake \
        -DCMAKE_INSTALL_PREFIX=~/.local \
        -DPython_EXECUTABLE=/opt/homebrew/bin/python3 \
        -DUSE_BISON=OFF \
        -DFLEX_EXECUTABLE=/opt/homebrew/opt/flex/bin/flex \
        -DBISON_EXECUTABLE=/opt/homebrew/opt/bison/bin/bison \
        -DCMAKE_CXX_FLAGS="-Wall -Wextra -Werror" \
        -DCMAKE_SWIG_FLAGS="-Werror" -DSWIG_COMPILE_FLAGS="-O1 -Wno-unused-parameter -Wno-unused-function" \
        -DCMAKE_UNITY_BUILD=ON -DCMAKE_UNITY_BUILD_BATCH_SIZE=32 .
        make install -j3
        make tests -j3
        OPENTURNS_NUM_THREADS=2 OMP_NUM_THREADS=1 ctest -E GeneralizedParetoFactory_std -j3 --output-on-failure --timeout 100 --schedule-random

  windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: conda-incubator/setup-miniconda@v3
        with:
          miniforge-version: latest
      - name: Install
        shell: cmd
        run: |
          conda install -y cmake swig ninja winflexbison "libblas=*=*netlib" "liblapack=*=*netlib" "liblapacke=*=*netlib" mpc boost-cpp libxml2 hdf5 primesieve tbb-devel cminpack ceres-solver nlopt dlib-cpp ipopt pagmo-devel spectralib zlib nanoflann scipy pandas matplotlib-base dill
      - uses: ilammy/msvc-dev-cmd@v1
      - name: Build
        shell: cmd
        run: |
          set "LIB=C:\Users\runneradmin\miniconda3\Library\lib;%LIB%"
          set "INCLUDE=C:\Users\runneradmin\miniconda3\Library\include;%INCLUDE%"
          cmake -G Ninja -B . -LAH ^
           -DCMAKE_INSTALL_PREFIX="C:/Users/runneradmin/miniconda3/Library" ^
           -DCMAKE_PREFIX_PATH="C:/Users/runneradmin/miniconda3/Library" ^
           -DCMAKE_CXX_FLAGS="/DWIN32 /D_WINDOWS /W3 /GR /EHsc /WX" ^
           -DCMAKE_UNITY_BUILD=ON -DCMAKE_UNITY_BUILD_BATCH_SIZE=16 ^
           -DLAPACK_LIBRARIES="C:/Users/runneradmin/miniconda3/Library/lib/lapack.lib;C:/Users/runneradmin/miniconda3/Library/lib/blas.lib" ^
           -DPython_FIND_STRATEGY=LOCATION -DPython_ROOT_DIR="C:/Users/runneradmin/miniconda3" || exit 1
          cmake --build . --target install --parallel 2 || exit 1
          ctest --output-on-failure --timeout 100 -E cppcheck -j2 --repeat after-timeout:2 --schedule-random

  aarch64:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: |
          docker pull openturns/debian-aarch64
          docker run --rm -e MAKEFLAGS='-j2' -v `pwd`:/io openturns/debian-aarch64 /io/.ci_support/run_docker_aarch64.sh

  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: |
          docker pull openturns/archlinux-python
          docker run --rm -e MAKEFLAGS='-j2' -v `pwd`:/io openturns/archlinux-python /io/.ci_support/run_docker_coverage.sh `id -u` `id -g`
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: openturns/openturns
          file: ./coverage/coverage.info

  mindeps:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: |
          docker pull debian:10
          docker run --rm -e MAKEFLAGS='-j2' -v `pwd`:/io debian:10 /io/.ci_support/run_docker_mindeps.sh
